XML/proizvodi.dtd

<!ELEMENT Proizvodi (Proizvod)*>
<!ELEMENT Proizvod (Kategorija,Cena,TekstOglasa,Oznake,Akcije)>
<!ELEMENT Kategorija (#PCDATA)>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT TekstOglasa (#PCDATA)>
<!ELEMENT Oznake (Oznaka)*>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT Akcije (Akcija)*>
<!ELEMENT Akcija EMPTY>
<!ATTLIST Cena valuta (yen | eur | rsd | den | fun | pnd ) "rsd">
<!ATTLIST Akcija cena CDATA #REQUIRED>
<!ATTLIST Akcija datumIsteka CDATA #REQUIRED>